

{% extends 'Store/base.html' %}


{% block title %} Searched products {% endblock title %}



{% block content %}
    
    


<div class="container-fluid px-0" >
    
    {% if searched %}
    <!------------ Heading  ------------>
    <div class="card">
        <div class="card-body py-1">
            <h3 class="text-center"> <strong> Result of your search ..  </strong></h3>
        </div>
    </div>
        
            <!--------------------------------------  Product Card ------------------------------------------>
            <div style="display: grid; grid-template-columns:repeat(3,1fr); gap:10px; height: 484px;">
                        {% for product in searched %}
                    
                            <!-------------------   In sale Product Card ---------------------->
                                {% if product.in_sale %}
                                
                                <div class="card mb-3" style="width:100%; margin-top:1%; margin-left:1%; box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);">
                                        <!-------------------  Sale Mini badge  ------------------->
                                    <div class="badge bg-dark text-warning position-absolute" style="top: 0.5rem; right:0.5rem">On Sale !!!</div>
                                    <img src="{{ product.image.url }}" style="height:240px; width:100%; " class="card-img-top" alt="{{product.name}}">
                                    <div class="card-body text-center">
                                        <h3 class="card-title  my-2px"><b>{{ product.name }}</b></h3>
                                        <!-- <p class="text-center" style="color: green;"><b>Available In Sale !!!</b> </p> -->
                                        
                                        <h6 class="text-center " style="margin-bottom:10px;"><b>NPR. </b>  <strike style="color:red;">{{product.price}}</strike>  <b>{{ product.in_sale_price }}</b></h6> 
                                        <br>
                                        
                    
                                        <a href="{% url 'product_detail' product.id  %}"><button type="button" class="btn btn-warning"><b>Buy Now</b></button></a>
                                    </div>
                    
                                        <!----------- footer to show date  ----------->
                                    <div class="card-footer text-body-secondary text-center"><small class="text-muted"><b>Updated :</b> {{product.update_date}}</small></div>
                    
                                </div>
                                
                            <!-------------------   Normal Product Card ---------------------->
                                {% else %}
                                
                                    <div class="card mb-3" style="width:100%; margin-top:1%; margin-left:1%; box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);">
                                        <img src="{{ product.image.url }}" style="height:240px; width:100%;" class="card-img-top" alt="{{product.name}}">
                                        <div class="card-body text-center my-2px">
                                            <h3 class="card-title text-center my-2px"><b>{{ product.name }}</b></h3>
                                            <h6 class="text-center " style="margin-bottom: 10px;"><b>NPR. {{product.price}}</b></h6> 
                                            <br>
                                            
                    
                                            <a href="{% url 'product_detail' product.id  %}"><button type="button" class="btn btn-warning"><b>Buy Now</b></button></a>
                                        </div>
                                            <!----------- footer to show date  ----------->
                                        <div class="card-footer text-body-secondary text-center"><small class="text-muted"><b>Updated :</b> {{product.update_date}}</small></div>
                                    </div>
                                
                                {% endif %}
                    
                            {% endfor %}
                            
                        </div>
                    
        {% endif %}
    </div>
    
{% endblock content %}